## SPDX-License-Identifier: GPL-2.0-only

config BOARD_SYSTEM76_ADDW1
	bool "addw1"

config BOARD_SYSTEM76_ADDW2
	bool "addw2"

config BOARD_SYSTEM76_GAZE14
	bool "gaze14"

config BOARD_SYSTEM76_GAZE15
	bool "gaze15"

config BOARD_SYSTEM76_ORYP5
	bool "oryp5"

config BOARD_SYSTEM76_ORYP6
	bool "oryp6"

config BOARD_SYSTEM76_ORYP7
	bool "oryp7"
