## SPDX-License-Identifier: GPL-2.0-only

config BOARD_GOOGLE_ATRIA_COMMON
	def_bool n
	select BOARD_ROMSIZE_KB_32768
	select CPU_INTEL_SOCKET_OTHER
	select DUMP_SMBIOS_TYPE17
	select EC_ACPI
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_BOARDID
	select EC_GOOGLE_CHROMEEC_ESPI
	select EC_GOOGLE_CHROMEEC_SKUID
	select EC_GOOGLE_CHROMEEC_SMBIOS
	select GENERATE_SMBIOS_TABLES
	select GOOGLE_SMBIOS_MAINBOARD_VERSION
	select HAVE_ACPI_TABLES
	select HAVE_SPD_IN_CBFS
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_DISABLE_STAGE_CACHE
	select MB_COMPRESS_RAMSTAGE_LZ4
	select SOC_INTEL_PANTHERLAKE_U_H

config BOARD_GOOGLE_BASEBOARD_ATRIA
	def_bool n
	select BOARD_GOOGLE_ATRIA_COMMON
	select SYSTEM_TYPE_LAPTOP

config BOARD_GOOGLE_ATRIA
	select BOARD_GOOGLE_BASEBOARD_ATRIA
	select EC_GOOGLE_CHROMEEC_RTK
	select EC_GOOGLE_CHROMEEC_LPC_GENERIC_MEMORY_RANGE

if BOARD_GOOGLE_ATRIA_COMMON

config BASEBOARD_DIR
	string
	default "atria"

config CBFS_SIZE
	default 0x1000000

config DEVICETREE
	default "variants/baseboard/devicetree.cb"

config DIMM_SPD_SIZE
	default 512

config MAINBOARD_DIR
	default "google/atria"

config MAINBOARD_FAMILY
	string
	default "Google_Atria"

config MAINBOARD_PART_NUMBER
	default "Atria" if BOARD_GOOGLE_ATRIA

config VARIANT_DIR
	string
	default "atria" if BOARD_GOOGLE_ATRIA

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config UART_FOR_CONSOLE
	int
	default 0

endif # BOARD_GOOGLE_ATRIA_COMMON
